
/*---========================
        03. Default css 
=======================----*/


/* Sub Title */

.sub-title{
    font-weight: 600;
    margin-bottom: 14px;
    line-height: 30px;
    &.style-one{
        @extend %primary-bgc;
    }
}

/* Section Title */

.section-title{
    & h2{
        margin-bottom: 20px;
        @media #{$xs}{
            font-size: 27px;
            line-height: 35px;
        }
    }
}

/* Title White */

.title-white{
    & h2{
        @extend %white-color;
    }
}

/* Text White  */

.text-white{
    & .sub-title{
        &.style-one{
            background-color: $white-color;
            -webkit-text-fill-color: #fff;
        }
    }
    & h2,h3,h4,h5,h6{
        @extend %white-color;
    }
    @extend %white-color;
}

/* Check List  */

.check-list{
    &.style-one{
        & li{
            display: flex;
            align-items: flex-start;
            font-size: 18px;
            &:not(:last-child){
                margin-bottom: 20px;
            }
            & i{
                width: 20px;
                flex: 0 0 auto;
                margin-right: 10px;
                margin-top: 3px;
            }
        }
    }
}

/* Circle List  */

.circle-list{
    &.style-one{
        & li{
            font: 600 16px $font;
            @extend %heading-color;
            align-items: center;
            display: flex;
            &:not(:last-child){
                margin-bottom: 19px;
            }
            &:before{
                content: '';
                width: 8px;
                height: 8px;
                @extend %blue-bg;
                border-radius: 50%;
                margin-right: 8px;
            }
        }
    }
}

/* Video Popup  */

.video-popup{
    width: 90px;
    height: 90px;
    @include border-radius(50%);
    background-color: #B893FD;
    font-size: 22px;
    line-height: 1;
    @extend %white-color;
    @extend %flex-center;
    &:hover{
        @extend %white-color;
    }
}

/* Ratings  */

.ratings{
    & i{
        color: #FFC107;
    }
}


/* Button  */

.theme-btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font: 600 16px $font;
    transition: all .3s ease-in-out;
    &.style-one{
        padding: 16px;
        @extend %white-color;
        @extend %blue-bg;
    }
    &.style-two{
        color: $text-color;
        padding: 17px 40px;
        border: 1px solid #333;
        &:hover{
            border-color: transparent;
            @extend %white-color;
            background: linear-gradient(90deg, #1E3A8A 0%, #2563EB 52%, #38BDF8 100%);
        }
    }
    &.gradient-btn{
        padding: 12px 16px;
        @extend %white-color;
        background-size: 150% 100%;
        background-image: linear-gradient(90deg, #1E3A8A 0%, #2563EB 52%, #38BDF8 100%);
        transition:all .3s ease-in-out;
        &:hover{
            @extend %white-color;
            background-position: 100% 0;
            transition: all .35s ease-in-out;
        }
    }
}
