openapi: 3.0.3
info:
  title: Maskom API
  description: >
    API specification for Maskom monitoring and service health endpoints.
    
    ## Architecture Overview
    
    Maskom uses a client-side service layer for external integrations:
    - **EmailService**: Client-side service for EmailJS integration
    - **AuthService**: Client-side service for authentication (mock mode)
    
    Server-side API routes provide monitoring and health check capabilities.
    
    ## Service Layer vs API Routes
    
    **Client-Side Services** (documented in separate service docs):
    - src/services/email/EmailService.ts - Email sending via EmailJS
    - src/services/auth/AuthService.ts - Authentication operations
    - See docs/api/email-service.md and docs/api/auth-service.md for details
    
    **Server-Side API Routes** (documented in this spec):
    - /api/health - Health check endpoint
    - /api/metrics - Metrics aggregation endpoint
    - /api/services/status - Service status monitoring endpoint
    
    ## Response Format
    
    All API responses follow standard format using createApiResponse utility:
    - Success: success=true, message=string, data=T
    - Error: success=false, error=string, errorCode=string, metadata=object
    
    ## Standard Headers
    
    All responses include:
    - Content-Type: application/json
    - Cache-Control: no-cache, no-store, must-revalidate
  
  version: 2.0.0
  contact:
    name: Maskom Development Team
    url: https://maskom.co.id
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://maskom.co.id/api
    description: Production server
  - url: http://localhost:3000/api
    description: Development server

tags:
  - name: Health
    description: Health check endpoints
  - name: Monitoring
    description: Metrics and monitoring endpoints
  - name: Service Status
    description: Service status monitoring endpoints

paths:
  /health:
    get:
      tags:
        - Health
      summary: Health check
      description: >
        Performs health check for all services with configurable success rate threshold.
        
        This endpoint checks the health of EmailService and AuthService by evaluating
        their success rate metrics. A service is considered healthy if its success rate
        meets or exceeds the threshold parameter.
      operationId: healthCheck
      parameters:
        - in: query
          name: threshold
          required: false
          schema:
            type: number
            format: float
            minimum: 0
            maximum: 1
            default: 0.9
          description: 'Success rate threshold (0-1). Default: 0.9 (90%).'
          example: 0.9
      responses:
        '200':
          description: All services healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResponse'
              example:
                success: true
                data:
                  status: 'healthy'
                  timestamp: '2026-01-14T12:00:00.000Z'
                  services:
                    - serviceName: 'EmailService'
                      healthy: true
                      message: 'Service is healthy (100.0% success rate)'
                      metrics:
                        serviceName: 'EmailService'
                        totalCalls: 100
                        successCalls: 100
                        failureCalls: 0
                        averageResponseTime: 1500
                      checkedAt: 1736697600000
                    - serviceName: 'AuthService.login'
                      healthy: true
                      message: 'Service is healthy (95.0% success rate)'
                      metrics:
                        serviceName: 'AuthService.login'
                        totalCalls: 200
                        successCalls: 190
                        failureCalls: 10
                        averageResponseTime: 2000
                      checkedAt: 1736697600000
                  summary:
                    totalServices: 2
                    healthyServices: 2
                    unhealthyServices: 0
                    successRateThreshold: 0.9
        '503':
          description: One or more services degraded or unhealthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResponse'
              example:
                success: true
                data:
                  status: 'degraded'
                  timestamp: '2026-01-14T12:00:00.000Z'
                  services:
                    - serviceName: 'EmailService'
                      healthy: true
                      message: 'Service is healthy (100.0% success rate)'
                      metrics:
                        serviceName: 'EmailService'
                        totalCalls: 100
                        successCalls: 100
                        failureCalls: 0
                        averageResponseTime: 1500
                      checkedAt: 1736697600000
                    - serviceName: 'AuthService.login'
                      healthy: false
                      message: 'Service is degraded (85.0% success rate, below threshold 90.0%)'
                      metrics:
                        serviceName: 'AuthService.login'
                        totalCalls: 200
                        successCalls: 170
                        failureCalls: 30
                        averageResponseTime: 2500
                      checkedAt: 1736697600000
                  summary:
                    totalServices: 2
                    healthyServices: 1
                    unhealthyServices: 1
                    successRateThreshold: 0.9

  /metrics:
    get:
      tags:
        - Monitoring
      summary: Get all metrics
      description: >
        Retrieves metrics for all monitored services including success rates and health status.
        
        This endpoint returns aggregated metrics from EmailService and AuthService,
        including total calls, success/failure counts, and calculated success rates.
      operationId: getAllMetrics
      responses:
        '200':
          description: Metrics retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricsResponse'
              example:
                success: true
                data:
                  timestamp: '2026-01-14T12:00:00.000Z'
                  summary:
                    totalServices: 2
                    totalCalls: 300
                    totalSuccesses: 270
                    totalFailures: 30
                    totalTimeouts: 2
                    totalRateLimits: 5
                  services:
                    - serviceName: 'EmailService'
                      totalCalls: 100
                      successCalls: 100
                      failureCalls: 0
                      timeoutCalls: 0
                      rateLimitCalls: 0
                      circuitBreakerOpenCount: 0
                      lastError: null
                      lastSuccessTime: 1736697600000
                      lastFailureTime: null
                      averageResponseTime: 1500
                      successRate: 100
                      health: 'healthy'
                    - serviceName: 'AuthService.login'
                      totalCalls: 200
                      successCalls: 170
                      failureCalls: 30
                      timeoutCalls: 2
                      rateLimitCalls: 5
                      circuitBreakerOpenCount: 0
                      lastError: 'Terlalu banyak percobaan'
                      lastSuccessTime: 1736697600000
                      lastFailureTime: 1736697500000
                      averageResponseTime: 2000
                      successRate: 85
                      health: 'unhealthy'

  /services/status:
    get:
      tags:
        - Service Status
      summary: Get service status
      description: >
        Retrieves detailed status for EmailService and AuthService including metrics
        and circuit breaker states.
        
        This endpoint provides real-time status monitoring for client-side services,
        useful for debugging and monitoring service health in production.
      operationId: getServiceStatus
      responses:
        '200':
          description: Service status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceStatusResponse'
              example:
                success: true
                data:
                  timestamp: '2026-01-14T12:00:00.000Z'
                  email:
                    metrics:
                      serviceName: 'EmailService'
                      totalCalls: 100
                      successCalls: 95
                      failureCalls: 5
                      averageResponseTime: 1500
                    circuitBreaker:
                      state: 'closed'
                      failureCount: 0
                      lastFailureTime: null
                      nextAttemptTime: null
                  auth:
                    metrics:
                      login:
                        serviceName: 'AuthService.login'
                        totalCalls: 200
                        successCalls: 190
                        failureCalls: 10
                        averageResponseTime: 2000
                      register:
                        serviceName: 'AuthService.register'
                        totalCalls: 50
                        successCalls: 48
                        failureCalls: 2
                        averageResponseTime: 2500
                    circuitBreaker:
                      state: 'closed'
                      failureCount: 3
                      lastFailureTime: 1736697500000
                      nextAttemptTime: null

components:
  schemas:
    HealthCheckResponse:
      type: object
      description: Health check response for all services
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: '#/components/schemas/HealthCheckData'

    HealthCheckData:
      type: object
      properties:
        status:
          type: string
          enum: ['healthy', 'degraded']
          description: Overall system health status
          example: 'healthy'
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp of health check
          example: '2026-01-14T12:00:00.000Z'
        services:
          type: array
          description: Array of service health check results
          items:
            $ref: '#/components/schemas/ServiceHealthCheck'
        summary:
          $ref: '#/components/schemas/HealthCheckSummary'

    ServiceHealthCheck:
      type: object
      properties:
        serviceName:
          type: string
          example: 'EmailService'
        healthy:
          type: boolean
          description: Whether service is healthy
          example: true
        message:
          type: string
          description: Health check message
          example: 'Service is healthy (100.0% success rate)'
        metrics:
          $ref: '#/components/schemas/ServiceMetrics'
        checkedAt:
          type: integer
          format: int64
          description: Unix timestamp of health check
          example: 1736697600000

    HealthCheckSummary:
      type: object
      properties:
        totalServices:
          type: integer
          description: Total number of services checked
          example: 2
        healthyServices:
          type: integer
          description: Number of healthy services
          example: 2
        unhealthyServices:
          type: integer
          description: Number of unhealthy services
          example: 0
        successRateThreshold:
          type: number
          format: float
          description: Success rate threshold used for health check
          example: 0.9

    MetricsResponse:
      type: object
      description: Metrics response for all services
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: '#/components/schemas/MetricsData'

    MetricsData:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp of metrics collection
          example: '2026-01-14T12:00:00.000Z'
        summary:
          $ref: '#/components/schemas/MetricsSummary'
        services:
          type: array
          description: Array of service metrics
          items:
            $ref: '#/components/schemas/ServiceMetricsWithHealth'

    MetricsSummary:
      type: object
      properties:
        totalServices:
          type: integer
          description: Total number of services
          example: 2
        totalCalls:
          type: integer
          description: Total API calls across all services
          example: 300
        totalSuccesses:
          type: integer
          description: Total successful calls
          example: 270
        totalFailures:
          type: integer
          description: Total failed calls
          example: 30
        totalTimeouts:
          type: integer
          description: Total timeout errors
          example: 2
        totalRateLimits:
          type: integer
          description: Total rate limit errors
          example: 5

    ServiceMetricsWithHealth:
      type: object
      properties:
        serviceName:
          type: string
          example: 'EmailService'
        totalCalls:
          type: integer
          description: Total API calls
          example: 100
        successCalls:
          type: integer
          description: Successful calls
          example: 100
        failureCalls:
          type: integer
          description: Failed calls
          example: 0
        timeoutCalls:
          type: integer
          description: Timeout errors
          example: 0
        rateLimitCalls:
          type: integer
          description: Rate limit errors
          example: 0
        circuitBreakerOpenCount:
          type: integer
          description: Circuit breaker opens
          example: 0
        lastError:
          type: string
          nullable: true
          description: Last error message
          example: 'EmailJS request timed out'
        lastSuccessTime:
          type: integer
          format: int64
          description: Last success timestamp (Unix epoch)
          example: 1736697600000
        lastFailureTime:
          type: integer
          format: int64
          description: Last failure timestamp (Unix epoch)
          example: 1736697500000
        averageResponseTime:
          type: number
          format: float
          description: Average response time in milliseconds
          example: 1500
        successRate:
          type: number
          format: float
          description: Success rate as percentage (0-100)
          example: 100
        health:
          type: string
          enum: ['healthy', 'degraded', 'unhealthy']
          description: Service health status based on success rate
          example: 'healthy'

    ServiceStatusResponse:
      type: object
      description: Service status response
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: '#/components/schemas/ServiceStatusData'

    ServiceStatusData:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp of status check
          example: '2026-01-14T12:00:00.000Z'
        email:
          $ref: '#/components/schemas/EmailServiceStatus'
        auth:
          $ref: '#/components/schemas/AuthServiceStatus'

    EmailServiceStatus:
      type: object
      properties:
        metrics:
          $ref: '#/components/schemas/ServiceMetrics'
        circuitBreaker:
          $ref: '#/components/schemas/CircuitBreakerState'

    AuthServiceStatus:
      type: object
      properties:
        metrics:
          type: object
          description: Auth service metrics grouped by operation
          properties:
            login:
              $ref: '#/components/schemas/ServiceMetrics'
            register:
              $ref: '#/components/schemas/ServiceMetrics'
        circuitBreaker:
          $ref: '#/components/schemas/CircuitBreakerState'

    ServiceMetrics:
      type: object
      properties:
        serviceName:
          type: string
          example: 'EmailService'
        totalCalls:
          type: integer
          description: Total API calls
          example: 100
        successCalls:
          type: integer
          description: Successful calls
          example: 95
        failureCalls:
          type: integer
          description: Failed calls
          example: 5
        averageResponseTime:
          type: number
          format: float
          description: Average response time in milliseconds
          example: 1500

    CircuitBreakerState:
      type: object
      properties:
        state:
          type: string
          enum: ['closed', 'open', 'half-open']
          description: Current circuit breaker state
          example: 'closed'
        failureCount:
          type: integer
          description: Consecutive failures count
          example: 0
        lastFailureTime:
          type: integer
          format: int64
          nullable: true
          description: Last failure timestamp (Unix epoch)
          example: 1736697500000
        nextAttemptTime:
          type: integer
          format: int64
          nullable: true
          description: Next attempt allowed timestamp (when open)
          example: 1736697660000

    ErrorResponse:
      type: object
      description: Error response format
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          description: Human-readable error message
          example: 'Internal server error'
        errorCode:
          type: string
          enum:
            - VALIDATION_ERROR
            - RATE_LIMIT_EXCEEDED
            - TIMEOUT
            - CIRCUIT_BREAKER_OPEN
            - CREDENTIALS_MISSING
            - NETWORK_ERROR
            - UNKNOWN_ERROR
          description: Standardized error code
          example: 'UNKNOWN_ERROR'
        metadata:
          type: object
          description: Additional error metadata
          properties:
            isRetryable:
              type: boolean
              description: Whether error is retryable
            isTimeout:
              type: boolean
              description: Whether error is a timeout
