openapi: 3.0.3
info:
  title: Maskom Frontend Services Specification
  description: >
    Comprehensive specification for Maskom frontend service integrations.
    
    **IMPORTANT ARCHITECTURE NOTE:**
    
    These are **frontend services** (TypeScript classes), NOT REST API endpoints.
    Services are imported directly by React components and call external APIs client-side.
    
    Example usage:
    ```typescript
    import emailService from '@/services/email';
    
    const result = await emailService.sendEmail({
        templateParams: {
            user_name: 'John Doe',
            user_email: 'john@example.com',
            message: 'Hello'
        }
    });
    ```
    
    ## Integration Architecture
    
    All external services follow a standardized resilience pattern:
    - Rate Limiting -> Timeout Protection -> Retry with Backoff -> Circuit Breaker -> External API
    
    ## Services
    
    - **EmailService**: Email sending via EmailJS (client-side integration)
      - Location: `src/services/email/EmailService.ts`
      - Documentation: `docs/api/email-service.md`
      - Tests: `src/services/email/__tests__/EmailService.test.ts`
      
    - **AuthService**: User authentication (mock implementation, ready for real backend)
      - Location: `src/services/auth/AuthService.ts`
      - Documentation: `docs/api/auth-service.md`
      - Tests: `src/services/auth/__tests__/AuthService.test.ts`
      
    - **Metrics Collector**: Service metrics collection and health checks
      - Location: `src/utils/metrics/metricsCollector.ts`
      - Tests: `src/utils/metrics/__tests__/`
    
    ## Authentication
    
    - EmailService uses environment variables for EmailJS credentials
    - AuthService is currently in mock mode with ready-to-use interface
    - See `.env.example` for required environment variables
    
    ## Error Codes
    
    All errors use standardized error codes:
    - `VALIDATION_ERROR`: Input validation failed
    - `RATE_LIMIT_EXCEEDED`: Rate limit exceeded
    - `TIMEOUT`: Request timed out
    - `CIRCUIT_BREAKER_OPEN`: Circuit breaker is open
    - `CREDENTIALS_MISSING`: API credentials not configured
    - `NETWORK_ERROR`: Network or connection error
    - `UNKNOWN_ERROR`: Unexpected error
    
    ## Response Format
    
    All services follow standard response format:
    - Success: `success=true, message=string, data=T`
    - Error: `success=false, error=string, errorCode=string, metadata=object`
    
    See `src/services/common/types.ts` for full type definitions.
    
  version: 2.0.0
  contact:
    name: Maskom Development Team
    url: https://maskom.co.id
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://maskom.co.id
    description: Production application (frontend)
  - url: http://localhost:3000
    description: Development application (frontend)

tags:
  - name: Frontend Services
    description: Frontend TypeScript service classes

paths:
  /services/email/send:
    post:
      tags:
        - Frontend Services
      summary: Send email (Frontend Service)
      description: >
        **This is NOT a REST API endpoint**. This is a frontend service method.
        
        Call this method directly from React components:
        ```typescript
        import emailService from '@/services/email';
        
        const result = await emailService.sendEmail({
            templateParams: {
                user_name: 'John Doe',
                user_email: 'john@example.com',
                message: 'Hello'
            }
        });
        ```
        
        **Resilience Configuration:**
        - Rate Limiting: 5 attempts per 60 seconds (per email)
        - Timeout: 10 seconds (10000ms)
        - Retry: 3 attempts with exponential backoff (1s, 2s)
        - Circuit Breaker: Opens after 5 consecutive failures, resets after 60 seconds
      operationId: sendEmail
      requestBody:
        description: Email send parameters (passed to service method, not API endpoint)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailSendRequest'
            examples:
              valid:
                summary: Valid email request
                value:
                  templateParams:
                    user_name: "John Doe"
                    user_email: "john@example.com"
                    message: "Hello, I would like to inquire about your services."
                  skipRateLimit: false
      responses:
        '200':
          description: Email sent successfully (service returns ServiceResult)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailSendResponse'
              example:
                success: true
                message: 'Email sent successfully'
                data:
                  text: 'OK'
        '400':
          description: Bad request - validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '408':
          description: Request timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too many requests - rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '502':
          description: Bad gateway - retry exhausted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service unavailable - circuit breaker open
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /services/auth/login:
    post:
      tags:
        - Frontend Services
      summary: Login user (Frontend Service)
      description: >
        **This is NOT a REST API endpoint**. This is a frontend service method.
        
        Call this method directly from React components:
        ```typescript
        import authService from '@/services/auth';
        
        const result = await authService.login({
            email: 'john@example.com',
            password: 'password123'
        });
        ```
        
        **Resilience Configuration:**
        - Rate Limiting: 5 attempts per 15 minutes (per email)
        - Timeout: 5 seconds (5000ms)
        - Retry: 3 attempts with exponential backoff
        - Circuit Breaker: Opens after 50 consecutive failures
      operationId: login
      requestBody:
        description: Login credentials (passed to service method, not API endpoint)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            examples:
              valid:
                summary: Valid login request
                value:
                  email: "john@example.com"
                  password: "password123"
      responses:
        '200':
          description: Login successful (service returns AuthResult)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Bad request - validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too many requests - rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /services/auth/register:
    post:
      tags:
        - Frontend Services
      summary: Register new user (Frontend Service)
      description: >
        **This is NOT a REST API endpoint**. This is a frontend service method.
        
        Call this method directly from React components:
        ```typescript
        import authService from '@/services/auth';
        
        const result = await authService.register({
            name: 'Jane Doe',
            email: 'jane@example.com',
            password: 'password123'
        });
        ```
        
        **Resilience Configuration:**
        - Rate Limiting: 5 attempts per 1 hour (per email)
        - Timeout: 5 seconds (5000ms)
        - Retry: 3 attempts with exponential backoff
        - Circuit Breaker: Opens after 50 consecutive failures
      operationId: register
      requestBody:
        description: Registration data (passed to service method, not API endpoint)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
            examples:
              valid:
                summary: Valid registration request
                value:
                  name: "Jane Doe"
                  email: "jane@example.com"
                  password: "password123"
      responses:
        '200':
          description: Registration successful (service returns AuthResult)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Bad request - validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Too many requests - rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /services/auth/logout:
    post:
      tags:
        - Frontend Services
      summary: Logout user (Frontend Service)
      description: >
        **This is NOT a REST API endpoint**. This is a frontend service method.
        
        Call this method directly from React components:
        ```typescript
        import authService from '@/services/auth';
        
        const result = await authService.logout();
        ```
      operationId: logout
      responses:
        '200':
          description: Logout successful (service returns AuthResult)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogoutResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /services/auth/current-user:
    get:
      tags:
        - Frontend Services
      summary: Get current user (Frontend Service)
      description: >
        **This is NOT a REST API endpoint**. This is a frontend service method.
        
        Call this method directly from React components:
        ```typescript
        import authService from '@/services/auth';
        
        const user = await authService.getCurrentUser();
        ```
      operationId: getCurrentUser
      responses:
        '200':
          description: Current user retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '204':
          description: No user logged in

components:
  schemas:
    EmailSendRequest:
      type: object
      required:
        - templateParams
      properties:
        templateParams:
          type: object
          required:
            - user_name
            - user_email
            - message
          properties:
            user_name:
              type: string
              description: Sender's name
              minLength: 1
              maxLength: 100
            user_email:
              type: string
              format: email
              description: Sender's email address
            message:
              type: string
              description: Email message content
              minLength: 1
              maxLength: 5000
        skipRateLimit:
          type: boolean
          description: Skip rate limit check (for admin use)
          default: false
        identifier:
          type: string
          description: Custom identifier for rate limiting (defaults to user_email)

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          description: User's email address
        password:
          type: string
          format: password
          description: User's password
          minLength: 8

    RegisterRequest:
      type: object
      required:
        - name
        - email
        - password
      properties:
        name:
          type: string
          description: User's full name
          minLength: 1
          maxLength: 100
        email:
          type: string
          format: email
          description: User's email address
        password:
          type: string
          format: password
          description: User's password
          minLength: 8

    EmailSendResponse:
      type: object
      description: 'ServiceResult<{ text: string }> - EmailService response type'
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: 'Email sent successfully'
        data:
          type: object
          properties:
            text:
              type: string
              description: EmailJS response text
              example: 'OK'

    AuthResponse:
      type: object
      description: AuthResult - Domain-specific response for authentication operations
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: 'Berhasil masuk ke portal'
        user:
          $ref: '#/components/schemas/User'
        token:
          type: string
          description: Authentication token
          example: 'mock-jwt-token'

    LogoutResponse:
      type: object
      description: AuthResult with message only for logout
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: 'Berhasil keluar'
        error:
          type: string
          description: Error message if failed
        errorCode:
          type: string
          description: Error code if failed

    UserResponse:
      description: 'User | null - getCurrentUser response type'
      oneOf:
        - $ref: '#/components/schemas/User'
        - type: object
          nullable: true

    User:
      type: object
      properties:
        id:
          type: string
          description: Generated user ID (UUID v4)
          example: '550e8400-e29b-41d4-a716-446655440000'
        name:
          type: string
          description: User's display name
          example: 'John Doe'
        email:
          type: string
          format: email
          description: User's email address
          example: 'john@example.com'

    ErrorResponse:
      type: object
      description: ServiceResult error response
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          description: Human-readable error message (non-sensitive)
        errorCode:
          type: string
          enum:
            - VALIDATION_ERROR
            - RATE_LIMIT_EXCEEDED
            - TIMEOUT
            - CIRCUIT_BREAKER_OPEN
            - CREDENTIALS_MISSING
            - NETWORK_ERROR
            - UNKNOWN_ERROR
        metadata:
          type: object
          description: Additional error metadata
          properties:
            isRetryable:
              type: boolean
              description: Whether error is retryable
            isTimeout:
              type: boolean
              description: Whether error is a timeout
            rateLimited:
              type: boolean
              description: Whether request was rate limited
